<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">




    <title>MyLittleCookie</title>

</head>
<body>
    <h1>MyLittleCookie</h1>
    <div>
        메인 머리
<!--        로그인하지 않는 사용자는 로그인과 회원가입 버튼만 보이고, 로그인한 사용자는 로그아웃 버튼만 보이게 하기-->
        <button onclick="location.href='login.html'">로그인</button>
        <button onclick="location.href='join.html'">회원가입</button>
        <button>로그아웃</button>

    </div>
    <div>
        슬라이드 광고기능
        00이를 도와주세요. 기부하러가기 ->
        사료 추천 같은거

        --
        봉사자를 구합니다
        봉사활동 후기
        --
        마리틀 커뮤니티
        이번주 가장 좋아요 많은 게시물
        --
        분양합니다
        --


    </div>
    <div>
        제일 하단
    </div>

</body>
</html>